* {
  box-sizing: border-box;
  text-align: center;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

header {
  height: 90px;
}

body {
  margin-top: 0px;
  margin-bottom: 0px;
}

footer {
  font-size: 15px;
  clear: both;
  padding: 20px;
  color: #dddddd;
  background-color: #666666;
}

h1, h2 {
  font-family: 'Georgia', Times, Times New Roman, serif;
}

h1 {
  margin: 0px;
}

h2 {
  text-align: left;
  color: #4aaaa5;
}

p {
  color: #777777;
  line-height: 1.8;
  word-spacing: 2px;
  text-align: left;
}

a {
  padding: 5px;
  color: #777777;
  text-decoration: none;
}

a:hover {
  color: red;
}

input, textarea {
  width: 100%;
  text-align: left;
}

input[type=submit] {
  font-size: 14px;
  width: 90px;
  height: 30px;
  text-align: center;
  color: #ffffff;
  background: #4aaaa5;
}

.img_portrait {
  float: left;
  padding: 30px;
}

.img_portfolio {
  float: left;
  width: 230px;
  height: 130px;
  margin: 0px;
  z-index: -1;
}

.main_border {
  border-style: solid;
  border-width: 1px;
  padding: 20px;
  min-height: 500px;
}

.wrapper {
  width: 960px;
  margin: 0 auto;
  display: block;
  clear: both;
  background-color: #ffffff;
  border-color: #dddddd;
}

.div_grey {
  padding: 2px;
  background: #cccccc;
}

.div_teal {
  padding: 3px;
  background: #4aaaa5;
}

.div_pic_container {
  float: left;
  width: 230px;
  height: 130px;
  margin: 25px;
}

.div_caption {
  position: relative;
  bottom: -60px;
  text-align: center;
  height: 35px;
  background: #4aaaa5;
  color: #ffffff;
  display: block;
}

#name, #nav {
  float: left;
  width: 250;
  height: 80px;
}

#name {
  width: 250px;
  height: 90px;
  padding-top: 35px;
  background: #4aaaa5;
  color: #ffffff;
}

#nav {
  padding-top: 35px;
  width: 710px;
  background: #ffffff;
  color: #777777;
  text-align: right;
}

#main_background {
  background: url("../images/sativa.png");
  padding-top: 40px;
  padding-bottom: 40px;
}
