/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px; /* Margin bottom by footer height */
}

h3, h4 {
  font-family: 'Georgia', Times, Times New Roman, serif;
}

a {
  padding: 5px;
  color: #777777;
  text-decoration: none;
}

a:hover {
  color: red;
}

p {
  color: #777777;
  line-height: 1.8;
  word-spacing: 2px;
  text-align: left;
}

.title {
  text-align: left;
  color: #4aaaa5;
}

.div_grey {
  padding: 2px;
  background: #cccccc;
}

.div_teal {
  padding: 3px;
  background: #4aaaa5;
}

.bg-teal {
  background-color: #4aaaa5;
}

.main_border {
  border-style: solid;
  border-width: 0px;
  padding: 20px;
  height: 500px; // Do I need this for portfolio?
}

.wrapper {
  width: 960px;
  margin: 0 auto;
  display: block;
  clear: both;
  background-color: #ffffff;
  border-color: #dddddd;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  color: #dddddd;
  background-color: #666666;
}

.container {
  width: 960px;
  padding: 0 15px;
  text-align: center;
}

.background-light-no-margin {
  margin: 0 auto;
  background-color: #ffffff;
  padding: 0px;
}

.image-portrait {
  padding: 30px;
}

#main_background {
  background: url("../images/sativa.png");
  padding-top: 40px;
  padding-bottom: 40px;
}
